* {
  margin: 0%;
  padding: 0%;
  border: 0%;
}

body {
  font-family: sans-serif;
  /* background: #eee; */
  background-image: url("/static/back.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

p,
h1,
h2,
h3 {
  font-family: "Georgia", serif;
  margin: 0;
}

.card {
  border-style: solid;
  border-color: rgba(0, 161, 170, 0.952);
}
.cards {
  padding: 1rem;
  border-style: solid;
  border-color: rgba(0, 161, 170, 0.952);
}

.index {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .index {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    order: -1;
  }
}

.card-img-top {
  object-fit: cover;
}

.apology {
  height: 100vh;
  display: grid;
  place-items: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-content: start center;
  gap: 1rem;
}

.category {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  place-content: start center;
  gap: 5rem;
}

.container {
  margin-top: 2rem;
}

.navbar {
  margin-left: 1rem;
}

.article {
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-color: rgba(240, 248, 255, 0.708);
}

.image {
  border-radius: 5px;
}

.nav {
  background-color: rgba(240, 248, 255, 0.291);
}
.navtitle {
  padding-left: 5px;
}
